<h1>Lista de usuários cadastrados:</h1>

{{#each dados}}
<div class="card">
    <div class="card-body">
        <h4>Email: {{email}}</h4>
        <small>Senha: {{pass}}</small><br>
        <a href='users/searchUser/edit/{{this.id}}'><button class="btn btn-success mt-1">Editar Usuário</button></a>
        <form action="/users/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" class="btn btn-danger mt-2">Deletar</button>
        </form>
    </div>
</div>
{{else}}

{{/each}}