<h1>Lista de funcionários:</h1>

{{#each dados}}
<div class="card">
    <div class="card-body">
        <h4>ID User: {{idUser}}</h4>
        <small>CPF: {{cpf}}</small> <br>
        <small>Departamento: {{departamento}}</small> <br>
        <small>Cargo: {{cargo}}</small> <br>
        <a href='users/searchEmp/edit/{{this.id}}'><button class="btn btn-success">Editar Funcionário</button></a>
        <form action="/emps/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" class="btn btn-danger mt-2">Deletar</button>
        </form>
    </div>
</div>
{{else}}

{{/each}}